{% load staticfiles %}
<!-- single -->
<div class="single-w3l py-5">
       <div class="container py-xl-5 py-lg-3">
           <div class="row inner_sec_info pt-md-4">
               <!-- left side -->
               <div class="col-lg-8 single-left">
                   <div class="single-left1">
                       <img src='{{ news.picture.url }}'  alt=" " class="img-fluid" />
                       <h6 class="blog-first text-dark my-4">
                           <i class="far fa-user mr-2"></i>{{ news.added_by }}
                       </h6>
                       <ul class="blog_list my-3">
                           <li>{{ news.dateAdded|date:'M d, Y' }}</li>
                           <li class="mx-3">
                               <a href="#">
                                   <i class="far fa-heart mr-1"></i>
                                   22</a>
                           </li>
                           <li>
                               <a href="#">
                                   <i class="far fa-comments mr-1"></i>
                                   16</a>
                           </li>
                       </ul>
                        <p>
                           <i class="my-3 font-weight-bold">{{ news.title }}</i>

                           {{ news.content }}
                        </p>
                   </div>

                   <!--
                   <div class="admin p-4 my-4">
                       <p>
                           <i class="fas fa-quote-left mr-2"></i>nibh eu consequat magna ipsum ac ex. Nulla iaculis tincidunt elit, tortor luctus sit amet.
                           Morbi in porta dolor. Morbi eget dui elit. consequat magna ipsum ac ex, Nulla iaculis consequat
                           magna ipsum ac ex Nulla iaculis.
                           <i class="fas fa-quote-right ml-2"></i>
                       </p>
                       <a href="#" class="mt-3 font-weight-bold text-right blockquote-footer">James Doe</a>
                   </div>
                   -->
                   <div class="row single-left2 text-justify">
                     <!--
                       <div class="col-md-6 single-left2-left">
                           <ul>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">At vero eos et accusamus iusto</a>
                               </li>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">Sed ut perspiciatis unde omnis</a>
                               </li>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">Accusantium doloremque lauda</a>
                               </li>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">Vel illum qui dolorem fugiat quo</a>
                               </li>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">Quis autem vel eum repreh</a>
                               </li>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">Neque porro quisquam est qui</a>
                               </li>
                           </ul>
                       </div>


                       <div class="col-md-6 single-left2-left">
                           <ul>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">At vero eos et accusamus iusto</a>
                               </li>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">Sed ut perspiciatis unde omnis</a>
                               </li>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">Accusantium doloremque lauda</a>
                               </li>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">Vel illum qui dolorem fugiat quo</a>
                               </li>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">Quis autem vel eum repreh</a>
                               </li>
                               <li class="mt-3">
                                   <i class="fas fa-check mr-2"></i>
                                   <a href="single.html">Neque porro quisquam est qui</a>
                               </li>
                           </ul>
                       </div>
                       -->
                   </div>
                   <div class="comments my-5">
                     <!--
                       <h3 class="blog-title ">Our Recent Comments</h3>
                       <div class="comments-grids mt-4">
                           <div class="media mt-4">
                               <img class="mr-3" src='{% static "images/m.png" %}' alt="Generic placeholder image">
                               <div class="media-body comments-grid-right">
                                   <h4>Parker Moe</h4>
                                   <ul class="my-2">
                                       <li class="font-weight-bold">6 June 2018
                                           <i>|</i>
                                       </li>
                                       <li>
                                           <a href="#" class="font-weight-bold">Reply</a>
                                       </li>
                                   </ul>
                                   <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis tempor.
                                       Phasellus bibendum eu.</p>
                                   <div class="media mt-5">
                                       <a class="pr-3" href="#">
                                           <img src='{% static "images/f.png" %}' alt="Generic placeholder image">
                                       </a>
                                       <div class="media-body comments-grid-right">
                                           <h4>Parker Moe</h4>
                                           <ul class="my-2">
                                               <li class="font-weight-bold">6 June 2018
                                                   <i>|</i>
                                               </li>
                                               <li>
                                                   <a href="#" class="font-weight-bold">Reply</a>
                                               </li>
                                           </ul>
                                           <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis
                                               tempor. Phasellus bibendum eu.</p>
                                       </div>
                                   </div>
                                   <div class="media mt-5">
                                       <a class="pr-3" href="#">
                                           <img src='{% static "images/f.png" %}' alt="Generic placeholder image">
                                       </a>
                                       <div class="media-body comments-grid-right">
                                           <h4>Parker Moe</h4>
                                           <ul class="my-2">
                                               <li class="font-weight-bold">6 June 2018
                                                   <i>|</i>
                                               </li>
                                               <li>
                                                   <a href="#" class="font-weight-bold">Reply</a>
                                               </li>
                                           </ul>
                                           <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis
                                               tempor. Phasellus bibendum eu.</p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="media mt-4">
                               <img class="mr-3" src='{% static "images/m.png" %}' alt="Generic placeholder image">
                               <div class="media-body comments-grid-right">
                                   <h4>Parker Moe</h4>
                                   <ul class="my-2">
                                       <li class="font-weight-bold">6 June 2018
                                           <i>|</i>
                                       </li>
                                       <li>
                                           <a href="#" class="font-weight-bold">Reply</a>
                                       </li>
                                   </ul>
                                   <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis tempor.
                                       Phasellus bibendum eu.</p>
                                   <div class="media mt-5">
                                       <a class="pr-3" href="#">
                                           <img src='{% static "images/f.png" %}' alt="Generic placeholder image">
                                       </a>
                                       <div class="media-body comments-grid-right">
                                           <h4>Parker Moe</h4>
                                           <ul class="my-2">
                                               <li class="font-weight-bold">6 June 2018
                                                   <i>|</i>
                                               </li>
                                               <li>
                                                   <a href="#" class="font-weight-bold">Reply</a>
                                               </li>
                                           </ul>
                                           <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis
                                               tempor. Phasellus bibendum eu.</p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="media mt-4">
                               <img class="mr-3" src='{% static "images/m.png" %}' alt="Generic placeholder image">
                               <div class="media-body comments-grid-right">
                                   <h4>Parker Moe</h4>
                                   <ul class="my-2">
                                       <li class="font-weight-bold">6 June 2018
                                           <i>|</i>
                                       </li>
                                       <li>
                                           <a href="#" class="font-weight-bold">Reply</a>
                                       </li>
                                   </ul>
                                   <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis tempor.
                                       Phasellus bibendum eu.</p>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="leave-coment-form">
                       <h3 class="blog-title  mb-4">Leave a Reply</h3>
                       <form action="#" method="post">
                           <div class="row">
                               <div class="col-sm-6 form-group">
                                   <input type="text" name="Name" class="form-control" placeholder="Name" required="">
                               </div>
                               <div class="col-sm-6 form-group">
                                   <input type="email" name="Email" class="form-control" placeholder="Email" required="">
                               </div>
                           </div>
                           <div class="form-group">
                               <textarea name="Message" class="form-control" placeholder="Your comment here..." required=""></textarea>
                           </div>
                           <div class="mm_single_submit">
                               <input type="submit" value="Post Comment">
                           </div>
                       </form>
                       -->
                   </div>

               </div>
               <!-- //left side -->
               <!-- right side -->

               <div class="col-lg-4 event-right mt-lg-0 mt-sm-5 mt-4">
                   <div class="event-right1">
                       <div class="search1">
                           <form class="form-inline" action="">
                               <input class="form-control rounded-0 mr-sm-2" type="search" placeholder="Search Here" aria-label="Search" required>
                               <input class="btn bg-dark text-white rounded-0 mt-3 w-100" type="submit" value="Search">
                           </form>
                       </div>
                   <div class="tags mt-4 p-4 border">
                       <div class="footerv2-w3ls">
                           <h3 class="blog-title">Over 500k + Readers</h3>
                           <ul class="social-iconsv2 agileinfo pt-3">
                               <li>
                                   <a href="#">
                                       <i class="fab fa-facebook-f"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <i class="fab fa-twitter"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <i class="fab fa-google-plus-g"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <i class="fab fa-linkedin-in"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
               </div>
               <!-- //right side -->
           </div>
       </div>
   </div>
   <!-- //single -->
