{% load staticfiles %}

<!-- features -->
<section class="wthree-row  features-agile" id="features">
    <div class="layer_features py-5">
        <div class="container py-lg-5">
            <div class="text-center wthree-title pb-sm-5 pb-3">
                <h4 class="w3l-sub pb-5 text-white">Features</h4>
                <p class="mx-auto text-white">Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varm hic tenetur
                    a sapiente delectus reiciendis maiores aliius orci. Nulla accumsan ac elit in congue.</p>
            </div>
            <div class="w3_features_grids w3_features_grids">
                <div class="features-slide pt-lg-5">
                    <div id="owl-demo" class="owl-carousel pb-lg-5">
                        <div class="item-owl text-center">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="img-agile">
                                        <i class="fas fa-spinner"></i>
                                        <h6 class="mt-3 text-white">feature 1</h6>
                                        <span></span>
                                    </div>
                                    <div class="feature-review feature-tooltip1">
                                        <p class="mx-auto mt-3 text-white">
                                            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-lg-0 mt-5">
                                    <div class="img-agile">
                                        <i class="fab fa-glide-g"></i>
                                        <h6 class="mt-3 text-white">feature 2</h6>
                                        <span></span>
                                    </div>
                                    <div class="feature-review feature-tooltip1">
                                        <p class="mx-auto mt-3 text-white">
                                            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-lg-0 mt-5">
                                    <div class="img-agile">
                                        <i class="fas fa-home"></i>
                                        <h6 class="mt-3 text-white">feature 3</h6>
                                        <span></span>
                                    </div>
                                    <div class="feature-review feature-tooltip1">
                                        <p class="mx-auto mt-3 text-white">
                                            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-owl text-center">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-owl">
                                        <div class="img-agile">
                                            <i class="fas fa-user"></i>
                                            <h6 class="mt-3 text-white">Riya Allen</h6>
                                            <span></span>
                                        </div>
                                        <div class="feature-review feature-tooltip1">
                                            <p class="mx-auto mt-3 text-white">
                                                Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-lg-0 mt-5">
                                    <div class="item-owl">
                                        <div class="img-agile">
                                            <i class="fas fa-user"></i>
                                            <h6 class="mt-3 text-white">Riya Allen</h6>
                                            <span></span>
                                        </div>
                                        <div class="feature-review feature-tooltip1">
                                            <p class="mx-auto mt-3 text-white">
                                                Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-lg-0 mt-5">
                                    <div class="item-owl">
                                        <div class="img-agile">
                                            <i class="fas fa-user"></i>
                                            <h6 class="mt-3 text-white">Riya Allen</h6>
                                            <span></span>
                                        </div>
                                        <div class="feature-review feature-tooltip1">
                                            <p class="mx-auto mt-3 text-white">
                                                Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-owl text-center">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-owl">
                                        <div class="img-agile">
                                            <i class="fas fa-user"></i>
                                            <h6 class="mt-3 text-white">Riya Allen</h6>
                                            <span></span>
                                        </div>
                                        <div class="feature-review feature-tooltip1">
                                            <p class="mx-auto mt-3 text-white">
                                                Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-lg-0 mt-5">
                                    <div class="item-owl">
                                        <div class="img-agile">
                                            <i class="fas fa-user"></i>
                                            <h6 class="mt-3 text-white">Riya Allen</h6>
                                            <span></span>
                                        </div>
                                        <div class="feature-review feature-tooltip1">
                                            <p class="mx-auto mt-3 text-white">
                                                Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-lg-0 mt-5">
                                    <div class="item-owl">
                                        <div class="img-agile">
                                            <i class="fas fa-user"></i>
                                            <h6 class="mt-3 text-white">Riya Allen</h6>
                                            <span></span>
                                        </div>
                                        <div class="feature-review feature-tooltip1">
                                            <p class="mx-auto mt-3 text-white">
                                                Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //features -->
