{% load staticfiles %}

<!-- footer -->
<footer class="footer py-md-5 pt-sm-3 pb-sm-5">
    <div class="container-fluid py-lg-5">
        <div class="px-4 pt-5 footer-top">
            <h2>
                <a href="#">
                  <span>ने</span>पाल
                  <span>दा</span>ना
                  <span>उ</span>द्योग
                  <span>सं</span>घ
                </a>
            </h2>
        </div>
        <div class="row p-sm-4 px-3 py-5">
            <div class="col-lg-4 col-md-6 footer-top mt-md-0 mt-sm-5">
                <h4 class="footer-title">हाम्रो बारेमा: </h4>
                <p class="mt-2 text-justify">
                        २०४६ सालमा नेपाल दाना उद्योग संघ, देशकै पहिलो पोल्ट्री संस्थाको रुपमा बिधिबत जन्मपछि यस संघको सक्रियतामा पोल्ट्री 
                        ब्यबसायमा बिस्तृत रुपमा विकास भयो र अफ्नो ब्यबसाय सम्बर्दन गर्न सम्बन्धित ब्यबसायीरुको छुट्टाछुट्टै संघको पनि स्थापना भयो । 
                        नेपाल ह्यचरी उघोग संघ, नेपाल अण्डा उत्पादक तथा बिऋी व्यवसायी संघ, नेपाल कच्चामाल बिऋि व्यवसायी संघ, नेपाल कुखुरापालक 
                        किसान संघ, नेपाल बोइलर बिऋी व्यवसायी संघ अादिको जन्म यसको प्रत्यक्ष उदाहरण हुन ।
                </p>
            </div>
            <div class="col-lg-2  col-md-6 footv3-left mt-md-0 mt-5">
                <h3 class="mb-3 w3f_title">Navigation</h3>
                <ul class="list-agileits">
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="{% url 'core:about' %}">
                            About Us
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="{% url 'core:index' %}">
                            Gallery
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            Services
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'core:contact'%}">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                <h3 class="mb-3 w3f_title">Contact Us</h3>
                <div class="fv3-contact">
                    <span class="fas fa-envelope-open mr-2"></span>
                    <p>
                        <a href="#">nfia2046@gmail.com</a>
                    </p>
                </div>
                <div class="fv3-contact my-2">
                    <span class="fas fa-phone-volume mr-2"></span>
                    <p>०१-४८२३०३४</p>
                </div>
                <div class="fv3-contact my-2">
                    <span class="fas fa-phone-volume mr-2"></span>
                    <p>०१-६२०४३०१</p>
                </div>
                <div class="fv3-contact">
                    <span class="fas fa-home mr-2"></span>
                    <p>केन्द्रीय कार्यालय, 
                        <br>चाबहिल, काठमाडौँ </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6  footerv2-w3ls mt-lg-0 mt-5">
                <h3 class="w3f_title">Socialize with Us</h3>
                <ul class="social-iconsv2 agileinfo pt-3">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //footer bottom -->
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="cpy-right text-center">
    <p>© 2018 Agro Field. All rights reserved | Design by
        <a target="_blank" href="https://www.facebook.com/roshan.katel.3">Roshan Katel</a>
    </p>
</div>
