{% load staticfiles %}
<!-- banner -->
<div class="d-lg-flex banner-main">
    <div class="col-lg-4 header-left">
        <h3>
            <a class="navbar-brand text-center" style="color:#3c50af;" href="">
                <img class="w-25" height="150px" src='{% static "images/logo.png" %}' />
                <span class="headerNameColor">नेपाल</span>
                <span class="headerNameColor">दाना</span>
                <span class="headerNameColor">उद्योग</span>
                <span class="headerNameColor">संघ</span>
            </a>
        </h3>
        <div class="banner-text-w3ls">
            <h3>परिचयः</h3>
            <p style=" text-align: justify; " >
              {% for intro in intro_view|slice:":1" %}
                  {{ intro.content|slice:":443" }}
              {% endfor %}
              ...... <a  class="text-muted" href="{% url 'core:about' %}" > Continue Reading.</a>
            </p>
        </div>
        <div class="footerv2-w3ls pt-4">
            <h3 class="w3f_title">हाम्रो सामाजिक संजालहरु</h3>
            <ul class="social-iconsv2 agileinfo pt-3">
                <li>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- header -->
    <div class="col-lg-8 banner p-0" id="home">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
                <button class="navbar-toggler home-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    menu
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item active  mr-3">
                            <a class="nav-link" href=""> गृहपृष्ठ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="nav-link" href="">कार्यसमिति</a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="nav-link" href="{% url 'core:members' %}"> सदस्यहरु </a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="nav-link" href="{% url 'news:news_list' %}"> गतिबिधि </a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="nav-link" href="{% url 'core:about' %}"> हाम्रो बारेमा </a>
                        </li>
                        <li class="nav-item  mr-3">
                            <a class="nav-link" href="#"> तस्बिरहरु  </a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:contact' %}"> सम्पर्क </a>
                        </li>
                    </ul>
                </div>
               

            </nav>
        </header>
        <!-- //header -->
        
        <div class="banner-text">
            <div class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="d-flex">
                            <div class="slider-info">
                                <h3>" पशुपंछी पालौ, स्वरोजगारी बनौ "</h3>
                                <p></p>
                            </div>
                            <div class="logo-sign d-flex">
                                <span class="align-self-center">NFIA</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>

</div>
<!-- //banner -->
