{% load staticfiles %}

<!--services-->
<div class="agileits-services py-md-5 py-4" id="services">
    <div class="container py-lg-5">
        <div class="text-center wthree-title pb-sm-5 pb-3">
            <h4 class="w3l-sub pb-5">हाम्रो सेवाहरु</h4>
            <p class="mx-auto">
              २०४७ सालमा स्थापना भएको नेपाल दाना उद्योग संघ हाल देशभर पशुपंक्षीको दाना उत्पादन सम्बन्धि १०४ वटा कम्पनीहरु आवद्घ रहेका छन्
              । विगत २७ वर्षदेखी पशुपंक्षिको दाना उत्पादनमा आत्मनिर्भरता कायम गर्दै आएको उक्त उद्योगले करिब २ लाख नागरीकलाई प्रत्यक्ष वा अप्रत्यक्ष रुपमा रोजगारी प्रदान गर्दै आएको छ ।
            </p>
        </div>
        <div class="agileits-services-row row py-md-5 mt-lg-5 no-gutters">
            <div class="col-lg-4 col-md-6">
                <div class="agileits-services-grids">
                    <span class="fab fa-uniregistry"></span>
                    <h4 class="my-2"> गुणस्तर
                        <span></span>
                    </h4>
                    <p>
                        अपौष्टिक गुणस्तरहीन र अस्वस्थ्यकर दाना उत्पादन र बिक्री वितरणलाई निरुत्साहित गर्नु
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="agileits-services-grids mt-md-0 mt-5 px-lg-5">
                    <span class="fab fa-jenkins"></span>
                    <h4 class="my-2">बिक्री प्रवद्र्ध
                        <span></span>
                    </h4>
                    <p>
                      दाना उत्पादन र तिनीहरुको बिक्री प्रवद्र्धनका सम्बन्धमा सदस्य तथा अन्य इच्छुक व्यवसायी तथा नेपाल सरकारलाई राय सल्लाह दिनु ।
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="agileits-services-grids mt-lg-0 mt-5 pl-lg-5">
                    <span class="fab fa-schlix"></span>
                    <h4 class="my-2">सम्बन्धित विषयहरु
                        <span></span>
                    </h4>
                    <p>
                      दाना उत्पादन व्यवसाय तथा यससँग सम्बन्धित विषयहरुको तथ्यांक, जानकारी, सूचना आदिको संकलन गर्नु तिनीहरुको प्रचार प्रसार गर्नु, यस विषयमा अध्ययन अनुसन्धान गर्नु गराउनु ।
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="agileits-services-grids">
                    <span class="fab fa-uniregistry"></span>
                    <h4 class="my-2">लगानी
                        <span></span>
                    </h4>
                    <p>
                      दाना उद्योगमा ८० अर्ब रुपैयाँको लगानी रहेको भन्दै उनले स्वदेशमा रहेको उद्योगको क्षमता दैनिक २७ सय टन रहेको जानकारी गराए ।
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="agileits-services-grids mt-md-0 mt-3 px-lg-5">
                    <span class="fab fa-jenkins"></span>
                    <h4 class="my-2">रोजगारी
                        <span></span>
                    </h4>
                    <p>
                      दाना उद्योगमा एक लाख १० हजारले प्रत्यक्ष रोजगारी पाएको र अप्रत्यक्षरुपमा दुई लाखले रोजगारी पाएको संघले जनाएको छ ।
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="agileits-services-grids mt-md-0 mt-3 pl-lg-5">
                    <span class="fab fa-schlix"></span>
                    <h4 class="my-2">अर्थतन्त्रमा
                        <span></span>
                    </h4>
                    <p>
                      पोल्ट्री व्यवसायले अर्थतन्त्रमा कुल ग्राहस्थ उत्पादनको करिब ४ प्रतिशत योगदान पुर्‍याएको संघले जनाएको छ ।
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //services-->
