{% load staticfiles %}

<!-- team -->
<section class="agileits-services my-5 py-md-5 py-3" id="team">

    <div class="container py-lg-5">
        <div class="text-center wthree-title pb-sm-5 pb-3">
            <h4 class="w3l-sub pb-5"> हाम्रो सदस्यहरु </h4>
            <p class="mx-auto">              
                हाल रहेका सदस्यहरुको विवरण
            </p>
        </div>
        <div class="row py-sm-5 pt-5">
          {% for user in users_list|slice:":4" %}
        
            <div class="col-lg-3 col-sm-6 mt-3 team-grids">
              <div class="team-effect">
                {% if user.profile_picture != '' %}
                    {% if user.profile_picture  %}
                        <img src='/media/{{ user.profile_picture }}' height="100" width="100" alt="img" class="img-responsive">
                    {% else %}
                        <img src='{% static "/images/noprofile.jpg" %}' height="100" width="100" alt="img" class="img-responsive">
                    {% endif %}    
                {% else %}
                    <img src='{% static "/images/noprofile.jpg" %}' height="100" width="100" alt="img" class="img-responsive">
                {% endif %}
                </div>
              <!-- team text -->
                <div class="footerv2-w3ls mt-3 text-center">
                  <h4>{{ user.first_name }} {{  user.last_name }}</h4>
                  <h5>{{ user.role }}</h5>
                  <ul class="social-iconsv2 agileinfo pt-3">
                      <li>
                          <a href="#">
                              <i class="fab fa-facebook-f"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fab fa-twitter"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fab fa-google-plus-g"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fab fa-linkedin-in"></i>
                          </a>
                      </li>
                  </ul>
                </div> 

          </div>
        {% endfor %}

        </div>
        <div class="col-md-12 col-sm-12">
            <div class="offset-md-4 col-md-4 col-sm-12">
                <a href="{% url 'core:cmembers' %}" class="d-block mt-0 border text-center btn-lg blog_more"> सबै सदस्यहरु </a>
            </div>
        </div>
    </div>
</section>
<!-- //team -->
