{% load staticfiles %}
<!-- about -->
<section class="about-w3ls py-md-5 py-3" id="about">
    <div class="container">
        <div class="row py-sm-5 py-3">
            <div class="col-lg-8">
                <div class="order-lg-0 order-1">
                    <h4 class="w3l-sub pb-lg-5 pb-3">संघका उद्देश्यहरुः</h4>
                    <p class="lead pr-lg-5 about-text-wthree text-justify ">
                      नेपालमा विभिन्न किसीमका गाई, भैसी, कुखुरा, बंगुर, हाँस आदि पशुपंक्षीहरु व्यवसायीक रुपमा पाल्ने उद्योग तथा
                      किसानहरुलाई आवश्यक पशुपंक्षीको निम्ती दाना उत्पादन गर्ने कार्यमा सम्मिलीत व्यवसायीहरुको हितको प्रवद्र्धन गर्दै
                      दाना उत्पादन गर्ने व्यवसायको प्रवद्र्धन गर्नु संघको मुख्य उद्देश्य हुनेछ ।

                    </p>
                </div>
                <div class="ab-w3-img order-lg-0 order-2">
                    <img src='{% static "images/1.jpg" %}' alt="" class="col-md-11 img-thumbnail pl-1 pr-1 mt-4">
                </div>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-5">
                <div class="agileits-abt-grids">
                    <div class="d-flex">
                        <span class="fas fa-spinner"></span>
                        <h4>पशुपंक्षी</h4>
                    </div>
                    <p class="lead about-text-wthree text-justify ">
                      पशुपंक्षीका लागी चाहिने गुणस्तरयुक्त पौष्टीक र उच्चतम आहार दाना उत्पादन गर्ने कार्यलाई प्रोत्साहित गर्ने ।
                    </p>
                </div>
                <div class="agileits-abt-grids my-5">
                    <div class="d-flex">
                        <span class="fab fa-glide-g"></span>
                        <h4>उत्पादन</h4>
                    </div>
                    <p class="lead about-text-wthree text-justify">
                      दाना उत्पादन व्यवसाय तथा यससँग सम्बन्धित विषयहरुको तथ्यांक, जानकारी, सूचना आदिको संकलन गर्नु तिनीहरुको प्रचार प्रसार गर्नु, यस विषयमा अध्ययन अनुसन्धान गर्नु गराउनु ।
                    </p>
                </div>
                <div class="agileits-abt-grids mt-lg-0 mt-5">
                    <div class="d-flex">
                        <span class="fas fa-shipping-fast"></span>
                        <h4>बिक्री बितरण</h4>
                    </div>
                    <p class="lead about-text-wthree text-justify">
                       दाना उत्पादन र बिक्री बितरण आदिसंग सम्बन्धीत विषयको नेपाल सरकारको निती कार्यक्रम आदीको बारे प्रतिकृया जनाउनु तथा कार्यक्रम तयारीको लागी परामर्श उपलब्ध गराउनु ।
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about -->
