{% load staticfiles %}

<!-- blog -->
<section class="blog_w3ls py-5">
    <div class="container py-lg-5">
        <div class="text-center wthree-title pb-sm-5 pb-3">
            <h4 class="w3l-sub pb-5">समाचारहरु</h4>
            <p class="mx-auto">नेपाल दाना संघसंग सम्बन्धित मुख्य समाचारहरु</p>
        </div>
        <div class="row py-sm-5">
            <!-- blog grid -->

            {% for news in news_list|slice:":3" %}

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card border-0">
                    <div class="card-header p-0">
                        <a href="blog.html">
                            <img class="card-img-bottom" src='{{ news.picture.url }}' height="250" width="100" alt="Card image cap" class="img-responsive">
                        </a>
                    </div>
                    <div class="card-body p-0 border-0">
                        <div class="blog_w3icon d-flex justify-content-between">
                            <span>
                              <i class="fa fa-user text-dark text-small mr-1"></i> {{ news.added_by }}
                            </span>
                            <span>
                                {{ news.dateAdded|date:'M. d, Y' }}</span>
                        </div>
                        <div class="pt-2">
                            <h5 class="blog-title card-title font-weight-bold">
                                <a href="{% url 'news:news_detail' news.pk %}">{{ news.title }}</a>
                            </h5>
                        </div>

                        <a href="{% url 'news:news_detail' news.pk %}" class="blog-btn">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- //blog grid -->
          </div>
          <div class="col-md-12 col-sm-12">
              <div class="offset-md-4 col-md-4 col-sm-12">
                  <a href="{% url 'news:news_list' %}" class="d-block mt-0 border text-center btn-lg blog_more"> सबै समाचारहरु </a>
              </div>
          </div>
      </div>
</section>
<!-- //blog -->
