{% load staticfiles %}
<!-- contact map grid -->
<div class="map contact-right p-lg-5 pb-5 px-3">
    <div class="py-5 bg-pricemain text-center">
        <h3 class="stat-title text-capitalize">get directions</h3>
        <span class="w3-line"></span>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.786721968389!2d85.34553071486118!3d27.723870631372893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb196682a0bcb5%3A0x9e017a15cf6c6510!2sGopi+Krishna+Marga%2C+Kathmandu+44600!5e0!3m2!1sen!2snp!4v1547107655972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!--//contact map grid ends here-->
