{% load staticfiles %}
<!-- newsletter-->
<div class="newsletter bg-dark text-center py-lg-5">
   <div class="container py-5">
       <div class="newsletter-inner">
           <div class="py-3">
               <h3 class="title_w3ls text-white">
                   जानकारी पहुन </h3>
               <p>सबैभन्दा पहिला जानकारी पहुने  ग्राहक बन्नुहोस ।</p>
           </div>
           <div class="newsright pt-5">
               <form action="#" class="d-flex">
                   <label class="align-self-center">
                       <i class="fas fa-envelope" aria-hidden="true"></i>
                   </label>
                   <input class="form-control" type="email" placeholder="Enter your email..." name="email" required="">
                   <input class="form-control" type="submit" value="Subscribe">
               </form>
           </div>
       </div>
   </div>
</div>
<!-- //newsletter-->
