{% load staticfiles %}

<!-- team -->
<section class="agileits-services my-5 py-md-5 py-3" id="team">

    <div class="container py-lg-5">
        <div class="text-center wthree-title pb-sm-5 pb-3">
            <h4 class="w3l-sub pb-5">our team</h4>
            <p class="mx-auto">
              List of all the members
            </p>
        </div>
        <div class="row py-sm-5 pt-5">

          {% for user in users_list %}
            <div class="col-lg-3 col-sm-6 team-grids">
              <div class="team-effect">
                  <img src='{{ user.profile_picture.url }}' height="100" width="100" alt="img" class="img-responsive">
              </div>
              <!-- team text -->
              <div class="footerv2-w3ls mt-3">
                  <h4>{{ user.username }}</h4>
                  <ul class="social-iconsv2 agileinfo pt-3">
                      <li>
                          <a href="#">
                              <i class="fab fa-facebook-f"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fab fa-twitter"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fab fa-google-plus-g"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fab fa-linkedin-in"></i>
                          </a>
                      </li>
                  </ul>
              </div>
              <!-- //team text -->

          </div>
        {% endfor %}

        </div>
    </div>
</section>
<!-- //team -->
